*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
 
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden; /* para que todo lo que se desborde se oculte*/ 
    margin: auto;  /*para que todo se centre */ 
    padding: 60px 0;
}